---
---

{% include head.html %}

<div class="container-md mt-0 mt-md-5 px-4">
  <div class="row flex-column-reverse flex-xl-row pt-5 g-5 g-xl-0 justify-content-xl-evenly align-items-center">
    <div class="col-xl-7">
      <p class="fs-4 fw-bold lead mb-0 text-danger">Error 404</p>
      <h1 class="fw-bold lh-1 text-danger">Page not found</h1>
      <p class="fs-4 lead">
        The page you are looking for cannot be found. If you clicked on a link in the website, please contact us.
      </p>
    </div>
    <div class="col-xl-4 d-flex justify-content-center justify-content-lg-end">
      <i class="bi bi-emoji-frown display-1" style="font-size: 120px;"></i>
    </div>
  </div>
  
  {% include menu.html %}
  
</div>

{% include footer.html %}