<div class="container-md">
    <button onclick="topFunction()" id="backtotop" class="btn ms-auto shadow-none fs-3 fixed-bottom z" style="display: none;"><i class="bi bi-arrow-up-circle-fill"></i></button>
    <footer class="mt-5 mb-3">
        {% if page.url != '/' %}
        <ul class="nav justify-content-start align-items-center lh-1 border-top">
            <span class="text-secondary fw-bold">Quick access:</span>
            {% for item in site.data.menu %}
            {% if item.url == null %}
                {% continue %}
            {% endif %}
            <li class="nav-item"><a href="{% if item.external == true  %}{{ item.url }}{% else %}{{ item.url | prepend: site.url }}{% endif %}"{% if item.external == true %} target="_blank"{% endif %} class="nav-link px-2 text-muted fs-5"><i class="bi {{item.icon}}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{item.title}}"></i></a></li>
            {% endfor %}
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted fs-5"><i class="bi bi-telegram" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Telegram channel"></i></a></li>
        </ul>
        {% endif %}
        <p class="text-center text-muted lh-1 mb-1">&copy; 2022 Isfahan Neuropsychiatry Center</p>
        <p class="text-center text-muted" style="font-size: 90%;">Isfahan University of Medical Sciences, Isfahan, Iran</p>
    </footer>
</div>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/jcubic/jquery.rotate@0.4.0/jquery.rotate.js" integrity="sha256-MO0clZ/P/LbiozPIhZ86i1sLqtd5fu9WUwkyLJcdU14=" crossorigin="anonymous"></script>

<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
crossorigin="anonymous"></script>

<!-- form validation -->
<script>
    (function () {
        'use strict'
        var forms = document.querySelectorAll('.needs-validation')
        Array.prototype.slice.call(forms)
        .forEach(function (form) {
            form.addEventListener('submit', function (event) {
                event.preventDefault();
                if (!form.checkValidity()) {
                    event.stopPropagation()
                } else {
                    $.ajax({
                        url: $(this).attr("action"),
                        type: 'POST',
                        data: $(this).serialize(),
                        error: function() {
                            $("#success").show();
                            $("#form").hide();
                        }
                    });
                }
                
                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>

<!-- Tooltips -->
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})
</script>

<!-- Back to top -->
<script>
mybutton = document.getElementById("backtotop");

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
</script>

</body>

</html>