<div class="container-fluid p-0 bg-white sticky-top">
    <div class="container-md">
        <nav class="navbar flex-wrap navbar-expand-lg navbar-light p-3 border-bottom">
            <img src="assets/img/Isfahan-University-of-Medical-Sciences.png" height="50px" class="me-md-2" alt="">
            <span class="navbar-brand mx-auto mx-md-0 align-middle">
                Isfahan Neuroscience Meetings
            </span>
            <button class="navbar-toggler mx-auto mx-md-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav justify-content-evenly mx-auto mx-lg-0 ms-lg-auto mt-2 mt-lg-0 p-3 pb-0 p-md-0">
                    {% for item in site.data.menu %}
                    <li class="nav-item me-md-2">
                        <a class="nav-link pe-0 text-center{% if page.url == item.url %} disabled active{% endif %}{% if item.url == null %} disabled{% endif %}" href="{% if item.external == true  %}{{ item.url }}{% else %}{{ item.url | prepend: site.url }}{% endif %}"{% if item.external == true %} target="_blank"{% endif %}>
                            <i class="bi {{item.icon}} fs-4"></i>
                            <br>
                            {{item.title}}
                        </a></li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    