<ul class="nav gap-1 justify-content-center">
    {% for item in site.data.menu %}
    {% if page.url == '/' %}
    {% if item.url == '/' %}
    {% continue %}
    {% endif %}
    {% endif %}
    <li class="nav-item">
        <a class="nav-link link-secondary bg-light rounded-3 px-3 py-2 text-center{% if item.url == null %} disabled{% endif %}{% if item.url == page.url %} disabled text-primary{% endif %}" href="{% if item.external == true  %}{{ item.url }}{% else %}{{ item.url | prepend: site.url }}{% endif %}"{% if item.external == true %} target="_blank"{% endif %}>
            <i class="bi {{item.icon}} fs-{{include.size}}"></i>
            <div class="fw-bold">{{item.title}}</div>
        </a>
    </li>
    {% endfor %}
</ul>